body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: azure;
    color: blanchedalmond;
    margin: 20px;
}

h1 {
color: midnightblue;

}
p {
    font-size: 18px;

}

